.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('banner.jpg');
    background-size: cover;
    background-position: center;
}

.content h2 {
    text-align: center;
    font-size: 40px;
    color: #333;
    margin: 100px;
    font-family: 'Bebas Neue', sans-serif;

}

.col {
    width: 100%;
    height: 100px;
    margin: 2px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card img {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
}